*.sqlite-journal
*.swp
.idea/*
.patchfiles_ignore/*
TaskQueue/.env
*.env
!PrintifyPriceUpdater/sample.env
printifyQueue.json

# Ignore global node modules
node_modules/
 
mosaic/
jobsHistory.json

PrintifyPriceUpdater/.patchfiles_ignore/


# package lock files are intentionally tracked
