*.sqlite-journal
*.swp
.idea/*
.patchfiles_ignore/*
TaskQueue/.env
*.env
printifyQueue.json

# Ignore global node modules
node_modules/
 
mosaic/
jobsHistory.json

# package lock files are intentionally tracked
