{% layout 'theme' %}
{% if collection.handle contains 'aliens-ufo' %}
  {% section 'hero-glitch' %}
{% endif %}
<section class="collection-page">
  <h1 class="page-title">{{ collection.title }}</h1>
  <ul class="product-grid">
    {% for product in collection.products %}
      {% render 'product-card', product: product %}
    {% else %}
      <li>No products found</li>
    {% endfor %}
  </ul>
</section>
