{% layout 'theme' %}
{% section 'hero-glitch' %}
<section class="collection-grid">
  <ul class="product-grid">
    {% for product in collections.all.products limit: 12 %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </ul>
</section>
