{% layout 'theme' %}
<section class="page-content contact">
  <h1>Contact Us</h1>
  <p>For help with your order, email <a href="mailto:orders@confused.store">orders@confused.store</a>.</p>
  <p>Should you have any questions about our privacy practices or this Privacy Policy, or if you would like to exercise any of the rights available to you, please email <a href="mailto:confused@lochner.tech">confused@lochner.tech</a> or contact us at P.O. Box 148, Wisconsin Dells, WI, 53965, US.</p>
</section>
