{% layout 'theme' %}
<section class="page-content contact">
  <h1>Contact Us</h1>
  <p>For help with your order, email <a href="mailto:orders@confused.store">orders@confused.store</a>.</p>
  <p>
    Mail correspondence can be sent to<br>
    Confused<br>
    310 Minnesota Ave #148<br>
    Wisconsin Dells, WI 53965
  </p>
</section>
