<footer class="site-footer">
  <small>© {{ 'now' | date: '%Y' }} {{ shop.name }}</small>
  <a href="/policies/privacy-policy">Terms and Policies</a>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}
